<div class="cnt-example-card" *ngIf="example != null; else notYetLoaded">
    <mat-card>
        <mat-card-title routerLink="/ex/{{example.id}}">{{example.title}}</mat-card-title>
        <mat-card-content>
            <div class="row-cnt">
                <div class="cnt-demo">
                    <h2>Demo</h2>
                    <p>
                        <ng-template ngbexRunningExample></ng-template>
                    </p>
                </div>

                <mat-tab-group>
                    <mat-tab *ngFor="let sourceFile of sourceFiles" label="{{sourceFile.fileName}}">
                        <h2>{{sourceFile.fileName}}</h2>
                        <code>
                            <pre [innerHTML]="sourceFile.highlightedText"></pre>
                        </code>
                    </mat-tab>
                </mat-tab-group>

                <div class="cnt-explanation" innerHTML="{{explanation}}"></div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #notYetLoaded>Not loaded</ng-template>
