mat-card-title {
    cursor: pointer
}
mat-card-title:hover {
    text-decoration: underline;
}
.row-cnt {
    display: flex;
    justify-content: center;
}

.row-cnt > div {
}

.cnt-example-card {
    padding-bottom: 1.8em;
}

.cnt-example-card mat-card {
    background-color: #ead9a5/*#dec888*/;
}

mat-tab-group {
    min-width: 40%;
}

.cnt-demo {
    padding-right: 6em;
    padding-top: 1em;
    /*background-color: #dec999;*/
    min-width: 20%;
    line-height: 180%;
}

.cnt-demo p {
    font-family: "Anonymous Pro", monospace;
}

.cnt-explanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*min-width: 25%;*/
    font-family: Kalam, Pangolin;
    font-size: 120%;
    padding: 3em;
    border: 3px green dashed;
}
